*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.escrito{
    text-align: center;
    margin: 0 10px;
    font-size: 20px;
}

.uno{
    font-size: 80px;
    margin: 40px 0;
}

.dos{
    font-size: 70px;
    margin: 0 0 50px 0;
}
.cards{
    width: 100%;
    overflow: hidden;
    justify-items: center;
    align-content: center;
}
.card{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.card img{
    width: 100%;
    
}
.prev,.next{
    /* position: absolute; */
    cursor: pointer;
    margin: 0 50px;
    font-size: 50px;
    color: #fbc2ebdc;
}

.tu{
    margin: 0 0 40px 0;
}
.jean{
    color: #fff;
}

.yo{
    margin: 20px 0;
}
.libro{
    animation: heartbeat 1.5s ease-in-out infinite both;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.libro p{
    font-size: 20px;
    margin: 0 10px;
}

@keyframes heartbeat {
    from {
            transform: scale(1);
            transform-origin: center center;
            animation-timing-function: ease-out;
    }
    10% {
            transform: scale(0.91);
            animation-timing-function: ease-in;
    }
    17% {
            transform: scale(0.98);
            animation-timing-function: ease-out;
    }
    33% {
            transform: scale(0.87);
            animation-timing-function: ease-in;
    }
    45% {
            transform: scale(1);
            animation-timing-function: ease-out;
    }
}
